body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 50%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  color: #009688;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.guessField {
  width: 100%;
  height: 35px;
  margin: 10px 0;
  padding: 5px;
}

.guessSubmit {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background-color: #009688;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.guessSubmit:hover {
  background-color: #00796b;
}

.resultParas p {
  font-size: 18px;
  margin-top: 20px;
  color: #333;
  text-align: center;
}

.lowOrHi {
  font-weight: bold;
  color: #009688;
}
